<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
      <div class="nav" >
          <div class="logo">
            <table style="width:100%;">
              <tr>
                <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/I.T_logo.svg/2059px-I.T_logo.svg.png" style="width: 35px; height: 35px;" alt="image"></td>
                <td>
                <span style="padding-left: 10px;">Issue Tracking Web Application</span>
                </td>
                <td ><a href="#">Home</a></td>
                <td ><a href="#">Tickets</a></td>
                <td ><a href="#">About</a></td>
              </tr>
             
            </table>
          </div>

          
        </div>

        <div class="content-container">
            <div class="tickets-display">
              <table style="width: 100%;">
                <tr style="background-color: rgb(0, 0, 0); color: white;">
                  <td style="width: 100%; text-align: center; height: 35px;"><span>Tickets</span></td>
                </tr>

                <!-- Display all current issues -->
                <tr>
                  <td style="display: flex; justify-content: center; flex-direction: column; height: 10vw; overflow: auto;">

                    <div class="ticket-row" *ngFor="let ticket of tickets">

                      <div class="ticket-row-detail">
                        <span>Issue T-{{ ticket.id }}</span>
                        <span>{{ ticket.title }}</span> 
                      </div>
                      <div class="ticket-row-action">
                        <table style="width: 100%;">
                        <tr>
                          <a><td style="display: flex; justify-content: center; vertical-align: middle;">
                            <i class='bx bxs-trash' style='color:#ffffff;'  ></i>
                          </td></a>
                        </tr>
                      </table>
                      </div>

                    </div>

                  </td>
                </tr>

                <!-- Add new issue -->
                <tr>
                  <td style="display: flex; justify-content: center; text-align: center; padding-top: 20px;"><h3>Create New Issue</h3></td>
                </tr>
                <tr>
                  <td style="display: flex; justify-content: center; align-items: center;">
                    
                      <div class="create-issue">
                        <form #form="ngForm" (ngSubmit)="onSubmit()">
                          <input type="text" name="title" placeholder="Enter the issue title.." style="width: 50%;" [(ngModel)]="newTicket.title">  

                          <div class="create-issue-action">
                            <table style="width: 100%;">
                            <tr>
                              <td style="display: flex; justify-content: center; vertical-align: middle;">
                                <button type="submit" style="background-color: transparent; border: none; cursor: pointer;"><span><i class='bx bx-plus' style='color:#ffffff;'></i></span></button>
                                
                              </td>
                            </tr>
                          </table>
                          </div>     

                        </form>
                         
                                      
                      </div>
                      
                      
                  </td>
                </tr>
              </table>
            </div>
        </div>
  </div>
</body>
</html>